@charset "UTF-8";
@font-face {
  font-family: 'digitalDown';
  src: url(/digital.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'digitalDown14';
  src: url(/digital14.ttf);
  font-display: swap;
}
.num {
  font-family: 'digitalDown';
  color: lightgreen;
  text-shadow: 0 0 10px rgb(144,238,144,0.5),0 0 15px rgb(144,238,144,0.5);
}
:root{
  margin: 0;
  padding-left: 10vh;
}
.countdown {
  background-color: black;
  box-shadow: 10px 10px 4px rgb(255,255,255,0.5);
  padding: 2pt 7pt 2pt 7pt;
  transition: .1s;
  color: white;
}
.countdown h1{
  display: inline-block;
}
.countdown p{
  display: inline-block;
}
.l{
  text-shadow: 0 0 10px rgb(255,255,255,0.5),0 0 15px rgb(255,255,255,0.5);
}
.l2{
  text-shadow: 0 0 10px rgb(255,255,0,0.5),0 0 15px rgb(255,255,0,0.5);
  color: yellow;
}
#encountdown{
  size: 18pt;
}
.n14{
  font-family: 'digitalDown14';
}
*{
  user-select: none;
}